body,
html {
	width: 100%;
	height: 100%;
	font-family: 'Raleway', sans-serif;
	background: url(img3.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1 {
	color: blanchedalmond;
}

hr {
    margin: 20px auto;
    color: #F05F44;
    border: 3px solid #F05F44;
    max-width: 65px;
    opacity: 1;  
}

.buffer {
	height: 2rem;
}

.btn {
	font-weight: 7rem;
	border-radius: 3rem;
	text-transform: uppercase;
}

.btn-primary {
	background-color: coral;
	border-color: coral;
}

.btn-primary:hover {
	background-color: #F05F44;
	border-color: #F05F44;
	border-width: 4px;
}

.btn-xl {
	padding: 1rem 2rem;
}